--- 
apiVersion: v1
kind: Secret
metadata: 
  name: "{{ meta.name }}-mongodb-configuration"
  namespace: "{{ meta.namespace }}"
stringData: 
  database: "{{ database_name }}"
  host: "{{ meta.name }}-mongodb"
  password: "{{ database_password }}"
  username: "{{ database_username }}"