--- 
apiVersion: v1
kind: Secret
metadata: 
  name: "{{ meta.name }}-rabbitmq-secret"
  namespace: "{{ meta.namespace }}"
stringData:
  rabbitmq.conf: | 
    loopback_users = none
    load_definitions = /etc/rabbitmq/definitions.json
    management.tcp.port = 15672
    management.tcp.ip = 0.0.0.0
  definitions.json: |
    {
    "rabbit_version":"3.8.16",
    "users":[
      {"name":"{{ mq_username }}",
      "password":"{{ mq_password }}",
      "tags":"administrator",
      "limits":{}
      }
    ],
    "vhosts":[
      {"name":"/"},
      {"name":"lichen-engine"}
    ],
    "permissions":[
      {
          "user":"{{ mq_username }}",
          "vhost":"lichen-engine",
          "configure":".*",
          "write":".*",
          "read":".*"
      },
      {
          "user":"dw",
          "vhost":"/",
          "configure":".*",
          "write":".*",
          "read":".*"
      }
    ],
    "queues":[
      {"name":"dl-cog-queue","vhost":"/","durable":true,"auto_delete":false,"arguments":{"x-queue-type":"classic"}},
      {"name":"cog-queue","vhost":"/","durable":true,"auto_delete":false,"arguments":{"x-queue-type":"classic"}},
      {"name":"dl-certificate-queue","vhost":"/","durable":true,"auto_delete":false,"arguments":{"x-queue-type":"classic"}},
      {"name":"certificate-queue","vhost":"/","durable":true,"auto_delete":false,"arguments":{"x-queue-type":"classic"}}
    ],
    "exchanges":[
      {"name":"certificate-exchange","vhost":"/","type":"direct","durable":true,"auto_delete":false,"internal":false,"arguments":{}},
      {"name":"cog-exchange","vhost":"/","type":"direct","durable":true,"auto_delete":false,"internal":false,"arguments":{}},
      {"name":"dl-certificate-exchange","vhost":"/","type":"direct","durable":true,"auto_delete":false,"internal":false,"arguments":{}},
      {"name":"dl-cog-exchange","vhost":"/","type":"direct","durable":true,"auto_delete":false,"internal":false,"arguments":{}}
    ],
    "bindings":[
      {"source":"certificate-exchange","vhost":"/","destination":"certificate-queue","destination_type":"queue","routing_key":"","arguments":{}},
      {"source":"cog-exchange","vhost":"/","destination":"cog-queue","destination_type":"queue","routing_key":"","arguments":{}},
      {"source":"cog-exchange","vhost":"/","destination":"cog-queue","destination_type":"queue","routing_key":"cog-queue","arguments":{}}
    ]
    }
  host: "{{ meta.name }}-rabbitmq"
  password: "{{ mq_password }}"
  url: "amqp://{{ mq_username }}:{{ mq_password }}@{{ meta.name }}-rabbitmq:5672"
  username: "{{ mq_username }}"
